.board {
  position: relative;
  user-select: none;
}

.squares {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  position: relative;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}
