.board-sidebar {
  background-color: var(--dark-surface);
  color: black;
  padding: 10px;
  width: 416px;
  height: fit-content;
  min-height: 80px;
  margin: 8px 0px;
  border-radius: 6px;
}

.board-sidebar__title {
  margin: 0px 0px 10px 0px;
  color: var(--dark-title);
}
