.fallen-pieces {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
  height: fit-content;
  min-height: 30px;
}

.weight {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 2px 0px 2px;
  color: var(--dark-text);
}
