.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 2;
}

.overlay--illegal {
  background-color: #dc3545;
}
.overlay--legal {
  background-color: #28a745;
}
.overlay--possible {
  background-color: #ffc107;
}
