/* 
  Board color scheme Wheat from http://omgchess.blogspot.com/2015/09/chess-board-color-schemes.html
*/
.square {
  position: relative;
}
.square--dark {
  background-color: rgb(187, 190, 100);
}
.square--light {
  background-color: rgb(234, 240, 206);
}

.square__letter {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  color: rgb(187, 190, 100);
  top: 0px;
  left: 2px;
}

.square__letter--dark {
  color: rgb(234, 240, 206);
}
.square__letter--alpha {
  top: unset;
  left: unset;
  bottom: 0px;
  right: 2px;
}

@media only screen and (min-width: 768px) {
  .square__letter {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .square__letter {
    font-size: 20px;
  }
}
