/* 
  Board color scheme Wheat from http://omgchess.blogspot.com/2015/09/chess-board-color-schemes.html
*/
.square {
  position: relative;
}
.square--dark {
  background-color: var(--board-dark);
}
.square--light {
  background-color: var(--board-light);
}

.square__label {
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}
.square--light .square__label {
  color: var(--board-dark);
}
.square--dark .square__label {
  color: var(--board-light);
}
.square__label--rank {
  top: 2px;
  left: 2px;
}
.square__label--file {
  bottom: 2px;
  right: 2px;
}

@media only screen and (min-width: 768px) {
  .square__label {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .square__label {
    font-size: 20px;
  }
}
