:root {
  --background: #fff;
  --text: rgba(0, 0, 0, 0.87);

  --dark-background: #121212;
  --dark-text: #fff;
}

body {
  font-family: sans-serif;
  background-color: var(--dark-background);
  color: var(--dark-text);
}
